<div class="container-fluid" id="main">

<h1>Home</h1>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4" style= "padding: 0;">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//youtube.com/embed/h3ruZwwpbgk?1&loop=1&playlist=h3ruZwwpbgk" 
          allowfullscreen name="iframe_a"></iframe>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4" style= "padding: 0;">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//youtube.com/embed/7qwY7MGwpXc?1&loop=1&playlist=7qwY7MGwpXc" 
          allowfullscreen name="iframe_a"></iframe>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4" style= "padding: 0;">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//youtube.com/embed/IRrtV8YVx7U?1&loop=1&playlist=IRrtV8YVx7U" 
          allowfullscreen name="iframe_a"></iframe>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4" style= "padding: 0;">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//youtube.com/embed/1HHqK_L1A1w?1&loop=1&playlist=nfWlot6h_JM" 
          allowfullscreen name="iframe_a"></iframe>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4" style= "padding: 0;">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//youtube.com/embed/FSM3h2zSwZk?1&loop=1&playlist=FSM3h2zSwZk" 
          allowfullscreen name="iframe_a"></iframe>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4" style= "padding: 0;">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//youtube.com/embed/sUW41slxvrw?1&loop=1&playlist=sUW41slxvrw" 
          allowfullscreen name="iframe_a"></iframe>
      </div>
    </div>
</div> <!-- row -->

<hr>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4" style= "padding: 0;">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//youtube.com/embed/kJQP7kiw5Fk?1&loop=1&playlist=kJQP7kiw5Fk" 
          allowfullscreen name="iframe_a"></iframe>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4" style= "padding: 0;">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//youtube.com/embed/NUsoVlDFqZg?1&loop=1&playlist=NUsoVlDFqZg" 
          allowfullscreen name="iframe_a"></iframe>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4" style= "padding: 0;">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//youtube.com/embed/TyHvyGVs42U?1&loop=1&playlist=TyHvyGVs42U" 
          allowfullscreen name="iframe_a"></iframe>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4" style= "padding: 0;">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//youtube.com/embed/nfWlot6h_JM?1&loop=1&playlist=nfWlot6h_JM" 
          allowfullscreen name="iframe_a"></iframe>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4" style= "padding: 0;">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//youtube.com/embed/igNVdlXhKcI?1&loop=1&playlist=igNVdlXhKcI" 
          allowfullscreen name="iframe_a"></iframe>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4" style= "padding: 0;">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//youtube.com/embed/ZbZSe6N_BXs?1&loop=1&playlist=ZbZSe6N_BXs" 
          allowfullscreen name="iframe_a"></iframe>
      </div>
    </div>
</div> <!-- row -->

</div> <!-- container-fluid main -->
